{% block content %}
<body style='background-image: url(https://celes.club/uploads/posts/2023-03/1679442888_celes-club-p-fon-dlya-saita-gradient-krasivo-36.jpg);background-size: cover;'>
</body>
<div style='font-family: Arial;position: absolute; left: 750px; top: 300px;display:flex; flex-direction:column;  align-items:center; background-color: #F5ECDA;border:4px #F2DFDF groove;border-radius: 20px;
width:300px;height: 350px;' class="container-fluid white border border-dark py-3">
  <h3>Восстановление пароля</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
  </form>
</div>
{% endblock %}