<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Страница-портфолио</title>
    <meta name="description" content="Описание страницы" />
  </head>
    <body>
    <div style="position: absolute; left: 500px; top: 0px;">
            <h1 align="center">Учебные проекты</h1>
            </div>
    <div style="position: absolute; left: 400px; top: 66px;background-color: #98FB98;border:4px #00B344  groove;">
            <h3>Асинхронный обработчик данных по API</h3>
                <ul>Использованные технологии:
                    <li>Docker-compose, SQLalchemy+Asyncio, GIT, Python, SQL, Django </li>
                    </ul>
            <div style="position: absolute; left: 130px; top: 95px;">
              <form action="https://github.com/Azoxe1/-Asyncio">
                  <input type="submit" value="Ссылка на GitHub" />
              </form>
            </div>

            <h3>Flask сайт объявлений</h3>
              <ul>Использованные технологии:
                 <li>Flask, Docker-compose, GIT, Python, SQL, Django</li>
                </ul>
        <div style="position: absolute; left: 130px; top: 190px;">
          <form action="https://github.com/Azoxe1/Flask_1">
              <input type="submit" value="Ссылка на GitHub" />
          </form>
        </div>


            <h3>Docker проект Склад</h3>
              <ul>Использованные технологии:
                 <li>Docker, GIT, Python, SQL, Django</li>
                </ul>
        <div style="position: absolute; left: 130px; top: 286px;">
          <form action="https://github.com/Azoxe1/Docker">
              <input type="submit" value="Ссылка на GitHub" />
          </form>
        </div>


            <h3>CRUD проект через DRF</h3>
              <ul>Использованные технологии:
                 <li>GIT, Python, SQL, DRF</li>
                </ul>
        <div style="position: absolute; left: 130px; top: 380px;">
          <form action="https://github.com/Azoxe1/Django_Rest-client/tree/main/smart_home">
              <input type="submit" value="Ссылка на GitHub" />
          </form>
            </div>



            <h3>Сервис-склад CRUD DRF</h3>
              <ul>Использованные технологии:
                 <li>GIT, Python, SQL, DRF</li>
                </ul>
            <div style="position: absolute; left: 130px; top: 476px;">
              <form action="https://github.com/Azoxe1/Django_Stock/tree/main/stocks_products">
                  <input type="submit" value="Ссылка на GitHub" />
              </form>
                </div>
        </div>
     </body>

<body>
    <div style="position: absolute; left: 490px; top: 560px;">
            <h1 align="center">Курсовая,<br> Дипломная работы</h1>
            </div>
    <div style="position: absolute; left: 500px; top: 670px;background-color: #FFE4B5;border:4px #FFA07A  groove;">

            <h3>Дипломная работа</h3>
                <ul>Использованные технологии:
                    <li>В процессе</li>
                    </ul>
            <div style="position: absolute; left: 50px; top: 110px;">
              <form action="https://google.com">
                  <input type="submit" value="Ссылка на GitHub" />
              </form>
                </div>

        <br><br>
            <h3>Бот для знакомств в VK</h3>
        Командная разработка
              <ul>Использованные технологии:
                 <li>VKAPI, GIT, Python, SQL</li>
                </ul>
        <div style="position: absolute; left: 50px; top: 275px;">
          <form action="https://github.com/Azoxe1/VkBot">
              <input type="submit" value="Ссылка на GitHub" />
          </form>
            </div>
          </div>
     </body>

<body>
    <div style="position: absolute; left: 1200px; top: 10px;">
            <h1 align="center">Практика в Re-action</h1>
    </div>

    <div style="position: absolute; left: 1050px; top: 70px;background-color: #87CEEB;border:4px #4682B4 groove;">
            <p ><font size="4"face="Arial">Стажировка проходит с 25.09.2023, в режиме фултайм работы, в команде<br> из 6-ти разработчиков. Сервис
                автоматической рассылки резюме<br> по вакансиям. К сожалению, нам не разрешается делиться фрагментами кода. <br>Последние задачи: </font></p>
            <h3>Форма обратной связи</h3>
        <div style="position: absolute; left: 350px; top: 740px;">
              <form action="https://re-action.online/">
                  <input type="submit" value="Ссылка на сайт проекта" />
              </form>
                </div>
            <ul>Описание функционала:
                    <li>Форма обратной связи отправляющая запрос, на основании <br>данных указанных пользователем.
                        При создании заявки, на почту администратора<br> падает письмо, с подробным описанием заявки
                        (данные пользователя).<br>
                        Форма сохраняет данные в БД,с учётом временного пояса юзера.<br>
                    </li>
                    </ul>
                <ul>Использованные технологии:
                    <li>GIT, Python, SQL, DRF, HTML, CSS</li>
                    </ul>


        <br>
            <h3>Open API</h3>
            <ul>Описание задачи:
                 <li>На основании существующего функционала написание Open API. Написание <br>дополнительного
                     функционала для логгирования, авторизации,<br> регистрации юзеров.
                 </li>
                </ul>
              <ul>Использованные технологии:
                 <li>GIT, Python, SQL, DRF, OpenAPI</li>
                </ul>



        <br>
            <h3>Взаимодействие с HH</h3>
            <ul>Различные задачи, по взаимодействию с API HH.ru.<br>
                Примеры задач:
                 <li>Создание сохраненного поиска у авторизованного через токен HH юзера
                                      </li>
                <li>Вывод последних запросов юзера на НН
                                      </li>
                <li>Сбор и сохранение информации по найденным вакансиям для юзера
                                      </li>
                </ul>
              <ul>Использованные технологии:
                 <li>GIT, Python, SQL, DRF, OpenAPI</li>
                </ul>

          </div>
     </body>
  <body>
    <div style="position: absolute; left: 90px; top: 10px;">
            <h1 align="center">Меню</h1>
    </div>
            <div style="position: absolute; left: 50px; top: 70px;background-color: #FA8072;border:4px #DC143C groove;">
              <form action="https://re-action.online/">
                  <input type="submit" value="Вернуться назад" />
              </form>


              <form action="https://re-action.online/">
                  <input type="submit" value="Перейти на мой GIT" />
              </form>


              <form action="https://re-action.online/">
                  <input type="submit" value="Связаться со мной напрямую" />
              </form>


              <form action="https://re-action.online/">
                  <input type="submit" value="Ссылка на НН резюме" />
              </form>
                </div>

    </body>
<body>
    <div style="position: absolute; left: 50px; top: 200px;">
            <h2 align="center">Код данного <br>сайта-портфолио</h2>
            </div>
    <div style="position: absolute; left: 70px; top: 280px;background-color: #FFE4B5;border:4px #FFA07A  groove;">
              <form action="https://google.com">
                  <input type="submit" value="Ссылка на GitHub" />
              </form>
                </div>

    <body>
</html>
